#sticky-container {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 10px;
    height: 64px;
    z-index: 1;
}

#sticky-container-wrapper {
    display: flex;
    width: 90%;
    margin: auto;
}

#settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#navigation {
    display: flex;
    margin-left: auto;
    order: 2;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    gap: 10px;
}

#sticky-container-wrapper #navigation :hover>*,
#sticky-container-wrapper #settings :hover>* {
    cursor: pointer;
}

.navi-buttons {
    margin: 0;
    background-color: var(--sticky);
    border: none;
    color: var(--header-text);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#search-Langs:focus {
    outline: none;
}

.navi-buttons {
    position: relative;
    transition: transform .2s;
}

.navi-buttons:hover {
    transform: scale(1.2);
}
