#contact-container {
    max-width: 1600px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
}

.contact-info {
    font-size: 1.3rem;
    margin-left: 4px;
    color: #4CAF50;
    -webkit-user-select: auto;
    -khtml-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    -o-user-select: auto;
    user-select: auto;

}

#contact-info-container {
    margin: auto;
    text-align: justify;
    padding-bottom: 10px;
}