#contact-container{
max-width: 1600px;
min-width: 1200px;
margin: auto;
margin-top: 10px;
border-radius: 10px;
}
.contact-info{
    font-size: 20px;
    color: #4CAF50;
    -webkit-user-select: auto;
    -khtml-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    -o-user-select: auto;
    user-select: auto;

}
#contact-info-container{
    margin:auto;
    width: 500px;
    text-align: justify;
    padding-bottom: 10px;
}