html {
  scroll-behavior: smooth
}

.App {
  text-align: center;
  display: grid;
}

#author-header, #projects-container {
  max-width: 1600px;
  margin: auto;
  margin-top: 10px;
}

a {
  text-decoration: none;
}

.header {
  text-align: center;
  font-size: 25px;
  text-decoration: underline;
}

p, span, img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}