.technology-header {
    font-size: 20px;
    color: #4CAF50;
}

.technology-image {
    width: 5vh;
    height: 5vh;
}

.technolgy-block {
    text-align: center;
    display: inline-block;
    padding: 10px;
}

.technolgy-row {
    margin: auto;
}

#technologies-container {
    margin: auto;
}